.album-container {
	padding-bottom: 32px;
}

.album-header-card {
    width: 100%;
	height: 70vh;
}

.album-header-card span.description {
    font-size: 14pt;
	font-style: italic;
	text-align: center;
}

.album-header-card .mdl-card__media {
	padding: 0;
}

.album-header-card div.mdl-card__title {
	width: 100%;
	height: 100%;
	margin: 0;
	
	display: flex;
  	justify-content: center;
  	align-items: center;
	flex-direction: column;

	background-color: rgba( 0, 0, 0, 0.60 );
}

.album-header-card .mdl-card__title h2.title {
	background-color: transparent;
}

h2.title {
	text-align: center;
}

span.photo_count {
	margin-top: 16px;
}

.adventure .album-pic .mdl-card__media {
	height: 50vh;
	max-height: 760px;
}

.adventure .album-annotation {
    margin: 16px;
    background: rgba(200, 200, 200, 0.5);
}

.adventure .album-container .description {
    max-width: 968px;
}

@media only screen and (max-width: 650px) {
    .adventure .album-annotation {
        margin: 0 auto;
        background: rgba(200, 200, 200, 0.5);
    }
}