.album-container {
    width: 75vw;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    margin: 0 auto;
}

.album-header-card {
    width: 100%;
    min-height: 1000px;
}

.album-header-card span.description {
    font-size: 14pt;
	font-style: italic;
	text-align: center;
}

.album-header-card .mdl-card__media {
	padding: 0;
}

.album-header-card div.mdl-card__title {
	width: 100%;
	height: 100%;
	margin: 0;
	
	display: flex;
  	justify-content: center;
  	align-items: center;
	flex-direction: column;

	background-color: rgba( 0, 0, 0, 0.60 );
}

.album-header-card .mdl-card__title h2.title {
	background-color: transparent;
}

.album-item-port-card-image.mdl-card {
    width: 300px;
    height: 400px;
    margin: 4px;

    flex-shrink: 1;
    flex-grow: 1;
}

.album-item-land-card-image.mdl-card {
    width: 500px;
    height: 400px;
    margin: 4px;

    flex-shrink: 1;
    flex-grow: 2;

    max-width: 800px;
}

.album-item:last-child{
    flex-grow: 0;
}

@media only screen and (max-width: 650px) {
    .album-container {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

        margin: 0 auto;
    }

    .album-item-port-card-image.mdl-card {
        width: 400px;
        height: 400px;
        margin: 4px;
    }

    .album-item-land-card-image.mdl-card {
        width: 400px;
        height: 400px;
        margin: 4px;
    }
}

.album-item > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
}
.album-item-card-image__title {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

h2.title {
	text-align: center;
}

.album_day_separator {
    flex: 1 0 100%;
    display: inline-block;
    width: 100%;

    margin-left: 8px;
    margin-right: 8px;

    color: white;
 }

.album_day_separator > h1 {
    margin-bottom: 0;
    font-size: calc(2vw + 2vh + 1vmin);
}

.album_day_separator > hr {
    margin-top: -16px;

    border: none;
    height: 4px;
    background-color: #FFFFFF;
}

.album_time_separator {
    flex: 1 0 100%;
    display: inline-block;
    width: 100%;

    margin-left: 8px;
    margin-right: 8px;

    color: white;
}

.album_time_separator > h3 {
    margin-bottom: 0;
}