.pic-card-land.mdl-card {
	height: 200px;
}

.pic-card-port.mdl-card {
	height: 200px;
}

.adventure.mdl-layout .mdl-layout__content {
	padding-bottom: 80px;
}

@media screen and (min-width: 640px) {
	.adventure.mdl-layout .mdl-layout__content {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.adventure .highlights-pic .mdl-card__media {
	background-image: url('/images/highlights_pic.jpg');
}