.adventure.mdl-layout .mdl-layout__content {
	padding-top: 0px;
}

.adventure .photo {
	background-color: #f9f7f2;
	padding: 16px;
	
	display: block;
	margin: auto;
	
	width: auto;
	height: auto;
	
	max-width: 85vw;
	max-height: calc(85vh - 105px);
}

.info_fab {
    position: fixed;
    bottom: 14pt;
    right: 24pt;
	z-index: 99;
}