.adventure.mdl-layout .mdl-layout__content {
	padding-top: 0px;
}

img.fill {
	width: 100%;
}

.photo_card {
	background-color: #f9f7f2;
	padding: 16px;
}

.info_fab {
    position: fixed;
    bottom: 14pt;
    right: 24pt;
	z-index: 99;
}