    <div class="mdl-grid center-items">
        <div class="mdl-cell mdl-cell--4-col data">
            
            <form action="/addphoto" method="post">
                Flickr ID: <input type="text" name="flickr_id" /><br />
                <input type="checkbox" name="is_wallpaper" /> Is Wallpaper<br />
                <input type="checkbox" name="is_photoframe" /> Is Photoframe<br />
                <input type="checkbox" name="is_photowall" /> Is PhotoWall<br /><br />
                <input type="submit" value="Add Photo" />
            </form>
        </div>
    </div>