		<style>
			tr {
				padding: 16px;
			}

			th {
				padding: 16px;
			}

			td {
				padding: 16px;
			}

			@media screen and (max-width: 640px) {
				.hide { display: none; }
			}

			img.image_preview {
				width: 128px;
				height: 128px;
				object-fit: cover;
			}

			.data {
				background-color: #f9f7f2;
				padding: 16px;
			}
			
			.center-table {
				margin: 0 auto;
			}
		</style>

		<div class="mdl-card navigation-card mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
			<div class="mdl-card__title">
				<h4 class="mdl-card__title-text">Admin</h4>
			</div>
			<ul class="mdl-list">
				<li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
						<a href="/addphoto">Add Photo</a>
					</span>
				</li>
				<li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
						<a href="/addphotoalbum">Add Photo Album</a>
					</span>
				</li>
				<li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
						<a href="/add360photo">Add 360 Photo</a>
					</span>
				</li>
                <li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
						<a href="/importtasks">Import Tasks</a>
					</span>
                </li>
                <li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
						<a href="/sendpm">Send Personal Message</a>
					</span>
				</li>
				<li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
						<a href="/health">Health Monitor</a>
					</span>
				</li>
				<li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
						<a href="/admin/refreshcache">Refresh Cache<br />(<em>will take several minutes</em>)</a>
					</span>
				</li>
			</ul>
		</div>
			
		<div class="mdl-card admin-card mdl-cell mdl-cell--10-col">
			<div class="mdl-card__title">
				<h4 class="mdl-card__title-text">Photos</h4>
			</div>
			<div class="adventure-content center-table">
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
					<thead>
						<tr style="background-color:rgba(0, 0, 0, 0.1);">
							<th class="mdl-data-table__cell--non-numeric hide">ID</th>
							<th class="mdl-data-table__cell--non-numeric">Preview</th>
							<th class="mdl-data-table__cell--non-numeric hide">Location?</th>
							<th class="hide">Wallpaper?</th>
							<th class="hide">Photoframe?</th>
							<th class="hide">PhotoWall</th>
						</tr>
					</thead>
					<tbody>
						<!-- BEGIN: photo_row -->
						<!-- BEGIN: default -->
						<tr>
							<!-- END: default -->
							<!-- BEGIN: alt -->
							<tr style="background-color:rgba(0, 0, 0, 0.1);">
								<!-- END: alt -->
								<td class="mdl-data-table__cell--non-numeric hide"><a href="/photo/{PHOTO_ID}">{PHOTO_ID}</a></td>
								<td class="mdl-data-table__cell--non-numeric" style="text-align:center"><a href="/photo/{PHOTO_ID}">{PHOTO_TITLE}<br /><img class="image_preview" src="{PHOTO_THUMBNAIL}"/></a><br /> <a href="https://www.flickr.com/photos/adamwbrown/{FLICKR_ID}/">Flickr ID: {FLICKR_ID}</a></td>
								<!-- BEGIN: location_true -->
								<td class="mdl-data-table__cell--non-numeric hide">{PHOTO_LOCATION}</td>
								<!-- END: location_true -->
								<!-- BEGIN: location_false -->
								<td style="background-color:black;text-align:center;" class="mdl-data-table__cell--non-numeric hide"><span style="color:red"><strong>No Location</strong></span>{PHOTO_LOCATION}</td>
								<!-- END: location_false -->
								<td class="hide">{IS_WALLPAPER}</td>
								<td class="hide">{IS_PHOTOFRAME}</td>
								<td class="hide">{PHOTOWALL_ID}</td>
							</tr>
							<!-- END: photo_row -->
						</tbody>
					</table>
				</div>
			</div>