    <div class="mdl-grid center-items">
        <div class="mdl-card albums-pic albums-title-card mdl-cell mdl-cell--8-col mdl-cell--4-col-phone mdl-shadow--2dp">
            <div class="mdl-card__media">
                <div class="mdl-card__title mdl-color-text--grey-50">
                    <h3 class="title">Albums</h3>
                </div>
            </div>
            <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                <img src="/images/albums_icon.png" class="comment__avatar">
                <div>
                    <span>Photo albums from each of our trips.</span>
                    <span>Scroll down and check out our albums in chronological order.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="mdl-grid albums-container">

        <!-- BEGIN: album -->
        <div class="album-card-image album-card-image-{ALBUM_ID} mdl-card mdl-shadow--2dp zooming" style="background: url('{ALBUM_IMAGE_URL}') center / cover;">
            <div class="mdl-card__title mdl-card--expand mdl-js-ripple-effect"></div>
            <div class="mdl-card__actions">
                <span class="album-card-image__title">{ALBUM_TITLE}</span>
            </div>
            <a href="{ALBUM_URL}" class="card_media_link"></a>
        </div>
        <!-- BEGIN: album -->
    </div>