
    <div class="album-container">
        <div class="mdl-card album-header-card album-pic album-title-card mdl-cell mdl-shadow--2dp">
            <div class="mdl-card__media" style="background-image: url('{ALBUM_PIC_URL}')">
                <div class="mdl-card__title mdl-color-text--white">
                    <h2 class="title">{ALBUM_TITLE}</h2>
					<span class="description">{ALBUM_DESCRIPTION}</span>
					<span class="photo_count">{ALBUM_NUM_PHOTOS} photos</span>
                </div>
            </div>
            <div class="mdl-card__supporting-text meta mdl-color-text--black">
                <div>
                    <span class="date">{ALBUM_DATE}</span>
                </div>
            </div>
        </div>

        <!-- BEGIN: item -->
            <!-- BEGIN: day_separator -->
            <div class="album_major_separator">
                <h1>{ALBUM_DAY_SEPARATOR}</h1>
                <br /><hr />
            </div>
            <!-- END: day_separator -->

            <!-- BEGIN: time_separator -->
            <div class="album_minor_separator">
                <h3>{ALBUM_TIME_SEPARATOR}</h3>
            </div>
            <!-- END: time_separator -->

            <!-- BEGIN: annotation -->
            <div class="album-item mdl-card mdl-shadow--2dp zooming">
                <div class="mdl-card__title mdl-color-text--white">
                    <span style="color: #0b0b0b">{ANNOTATION_TEXT}</span>
                </div>
            </div>
            <!-- END: annotation -->

            <!-- BEGIN: photo -->
                <!-- BEGIN: photo_element_port -->
                <div class="album-item album-item-port-card-image album-item-card-image-{PHOTO_ID} mdl-card mdl-shadow--2dp zooming" style="background: url('{PHOTO_IMAGE_URL}') center / cover;">
                <!-- END: photo_element_port -->
                <!-- BEGIN: photo_element_land -->
                <div class="album-item album-item-land-card-image album-item-card-image-{PHOTO_ID} mdl-card mdl-shadow--2dp zooming" style="background: url('{PHOTO_IMAGE_URL}') center / cover;">
                <!-- END: photo_element_land -->
                    <div class="mdl-card__title mdl-card--expand mdl-js-ripple-effect"></div>
                    <div class="mdl-card__actions">
                        <span class="album-item-card-image__title">{PHOTO_TITLE}</span>
                    </div>
                    <a href="{PHOTO_URL}" class="card_media_link"></a>
                </div>
            <!-- END: photo -->
        <!-- END: item -->
    </div>