    <!-- BEGIN: album_header -->
    <style>
        .adventure .album-pic .mdl-card__media {
            background-image: url('{ALBUM_PIC_URL}');
            height: 50vh;
			max-height: 760px;
        }
    </style>

    <!-- END: album_header -->

    <style>
    <!-- BEGIN: photo_style -->
    .album-item-card-image-{PHOTO_ID}.mdl-card {
        background: url('{PHOTO_IMAGE_URL}') center / cover;
    }
    <!-- END: photo_style -->
    </style>

    <div class="album-container">
        <div class="mdl-card album-header-card album-pic album-title-card mdl-cell mdl-shadow--2dp">
            <div class="mdl-card__media">
                <div class="mdl-card__title mdl-color-text--white">
                    <h2 class="title">{ALBUM_TITLE}</h2>
					<span class="description">{ALBUM_DESCRIPTION}</span>
                </div>
            </div>
            <div class="mdl-card__supporting-text meta mdl-color-text--black">
                <div>
                    <span class="date">{ALBUM_DATE}</span>
                </div>
            </div>
        </div>

        <!-- BEGIN: photo -->

        <!-- BEGIN: day_separator -->
        <div class="album_day_separator">
            <h1>{ALBUM_DAY_SEPARATOR}</h1>​<hr />​​​​​
        </div>
        <!-- END: day_separator -->

        <!-- BEGIN: time_separator -->
        <div class="album_time_separator">
            <h3>{ALBUM_TIME_SEPARATOR}</h3>​
        </div>
        <!-- END: time_separator -->

        <!-- BEGIN: photo_element_port -->
        <div class="album-item album-item-port-card-image album-item-card-image-{PHOTO_ID} mdl-card mdl-shadow--2dp zooming">
        <!-- END: photo_element_port -->
        <!-- BEGIN: photo_element_land -->
        <div class="album-item album-item-land-card-image album-item-card-image-{PHOTO_ID} mdl-card mdl-shadow--2dp zooming">
        <!-- END: photo_element_land -->
            <div class="mdl-card__title mdl-card--expand mdl-js-ripple-effect"></div>
            <div class="mdl-card__actions">
                <span class="album-item-card-image__title">{PHOTO_TITLE}</span>
            </div>
            <a href="{PHOTO_URL}" class="card_media_link"></a>
        </div>
        <!-- BEGIN: photo -->
    </div>