<!-- BEGIN: admin_links -->
<div class="mdl-card navigation-card mdl-cell mdl-cell--2-col mdl-cell--4-col-phone">
	<div class="mdl-card__title">
		<h4 class="mdl-card__title-text">Admin</h4>
	</div>
	<ul class="mdl-list">
		<li class="mdl-list__item">
							<span class="mdl-list__item-primary-content">
								<a href="/admin/home">Admin Home</a>
							</span>
		</li>
		<li class="mdl-list__item">
							<span class="mdl-list__item-primary-content">
								<a href="/addphoto">Add Photo</a>
							</span>
		</li>
	</ul>
</div>

<div class="mdl-card admin-card mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
	<div class="mdl-card__title">
		<h4 class="mdl-card__title-text">Edit Album</h4>
	</div>
	<div style="padding: 15px;">
		<div style="padding: 15px;">
			<br/>
			<form method="post">
				<input type="hidden" name="action" value="update"/>
				<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="is_published">
					<input type="checkbox" id="is_published" name="is_published" class="mdl-switch__input"
						   {IS_PUBLISHED}/>
					<span class="mdl-switch__label">Is Published</span>
				</label>
				<br/><br/>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">
					Update
				</button>
				<br/>
				<br/>
			</form>

			<hr/>
		</div>
		<h2>Actions:</h2>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit"
				onclick="location.href='/album/{ALBUM_ID}?regenerate=info';">
			Re-fetch Album info from Flickr
		</button>
		<br/><br/>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit"
				onclick="location.href='/album/{ALBUM_ID}?regenerate=photoinfo';">
			Re-fetch all photo info from Flickr
		</button>
		<br/><br/>
		<strong>Timeline Mode:</strong> {TIMELINE_MODE}<br/>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit"
				onclick="location.href='/album/{ALBUM_ID}?regenerate=timelinemode';">
			Cycle Timeline Mode
		</button>
		<br/><br/>
	</div>
</div>

<div class="mdl-card admin-card mdl-cell mdl-cell--6-col">
	<div class="mdl-card__title">
		<h4 class="mdl-card__title-text">Add Album Card</h4>
	</div>
	<div class="adventure-content">
		<form method="post">
			<input type="hidden" name="action" value="addcard"/>

			<div>
				<span>Annotation Type</span><br/>
				<input type="radio" name="annotation-type" value="text" checked/>Text<br>
				<input type="radio" name="annotation-type" value="path"/>Path<br>
			</div>

			<div>
				<span>Annotation Time</span><br/>
				<input type="date" id="annotation-date" name="annotation-date" value="{ANNOTATION_DATE}"/>
				<input type="time" id="annotation-time" name="annotation-time" value="{ANNOTATION_TIME}"/>
				PST
			</div>
			<br/><br/>

			<div class="mdl-textfield mdl-js-textfield">
				<textarea class="mdl-textfield__input" type="text" rows="3" id="card_content"
						  name="card_content"></textarea>
				<label class="mdl-textfield__label" for="card_content">Card content</label>
			</div>
			<br/><br/>

			<div>
				<span>Path Start Time</span><br/>
				<input type="date" id="annotation-path-start-date" name="annotation-path-start-date"
					   value="{ANNOTATION_DATE}"/>
				<input type="time" id="annotation-path-start-time" name="annotation-path-start-time"
					   value="{ANNOTATION_TIME}"/>
				PST
			</div>
			<br/><br/>

			<div>
				<span>Path End Time</span><br/>
				<input type="date" id="annotation-path-end-date" name="annotation-path-end-date"
					   value="{ANNOTATION_DATE}"/>
				<input type="time" id="annotation-path-end-time" name="annotation-path-end-time"
					   value="{ANNOTATION_TIME}"/>
				PST
			</div>
			<br/><br/>

			<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect"
					style="float:right;" type="submit">
				<i class="material-icons">add</i>
			</button>
		</form>
	</div>
</div>
<!-- END: admin_links -->

<div class="album-container">
	<div class="mdl-card album-header-card album-pic album-title-card mdl-cell mdl-shadow--2dp">
		<div class="mdl-card__media" style="background-image: url('{ALBUM_PIC_URL}')">
			<div class="mdl-card__title mdl-color-text--white">
				<h2 class="title">{ALBUM_TITLE}</h2>
				<span class="description">{ALBUM_DESCRIPTION}</span>
				<span class="photo_count">{ALBUM_NUM_PHOTOS} photos</span>
			</div>
		</div>
		<div class="mdl-card__supporting-text meta mdl-color-text--black">
			<div>
				<span class="date">{ALBUM_DATE}</span>
			</div>
		</div>
	</div>

	<!-- BEGIN: map -->
	<div id="map-container" class="mdl-cell--12-col">
		<div id="map" class="mdl-shadow--2dp">
			<img src="{ALBUM_MAP_OVERVIEW}"/>
			<p>
				<strong>Distance:</strong> {ALBUM_MAP_DISTANCE}<br/>
				<strong>Elevation Gain:</strong> {ALBUM_MAP_ELEVATION_GAIN}
			</p>
		</div>
	</div>
	<!-- END: map -->

	<!-- BEGIN: item -->
	<!-- BEGIN: day_separator -->
	<div class="album_major_separator">
		<h1>{ALBUM_DAY_SEPARATOR}</h1>
		<br/>
		<hr/>
	</div>
	<!-- END: day_separator -->

	<!-- BEGIN: time_separator -->
	<div class="album_minor_separator">
		<h3>{ALBUM_TIME_SEPARATOR}</h3>
	</div>
	<!-- END: time_separator -->

	<!-- BEGIN: annotation_text -->
	<div class="album-item mdl-card mdl-shadow--2dp album-annotation">
		<div class="mdl-card__title mdl-color-text--white">
			<h4 style="color: #0b0b0b; margin: 0 auto; text-align: center;">{ANNOTATION_TEXT}</h4>
		</div>
		<!-- BEGIN: admin -->
		{ANNOTATION_DATE}<br/>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit"
				onclick="location.href='/editalbumcard/{ANNOTATION_ID}';">
			Edit
		</button>
		<!-- END: admin -->
	</div>
	<!-- END: annotation_text -->

	<!-- BEGIN: annotation_path -->
	<div class="album-item path-map-container mdl-card mdl-shadow--2dp album-annotation">
		<div class="path-map">
			<img src="{ALBUM_PATH_MAP}"/>
		</div>
		<div class="mdl-card__title mdl-color-text--white">
			<h4 style="color: #0b0b0b; margin: 0 auto; text-align: center;">{ANNOTATION_TEXT}</h4><br />
		</div>
		<span>
			<strong>Duration:</strong> {ALBUM_PATH_DURATION}<br />
			<strong>Distance:</strong> {ALBUM_PATH_DISTANCE}<br />
			<strong>Elevation Gain:</strong> {ALBUM_PATH_ELEVATION}<br />
		</span>
		<!-- BEGIN: admin -->
		{ANNOTATION_DATE}<br/>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit"
				onclick="location.href='/editalbumcard/{ANNOTATION_ID}';">
			Edit
		</button>
		<!-- END: admin -->
	</div>
	<!-- END: annotation_path -->

	<!-- BEGIN: photo -->
	<!-- BEGIN: photo_element_port -->
	<div id="photo_{PHOTO_ID}"
		 class="lazy album-item album-item-port-card-image album-item-card-image-{PHOTO_ID} mdl-card mdl-shadow--2dp zooming"
		 data-src="{PHOTO_IMAGE_URL}" style="background: center / cover;">
		<!-- END: photo_element_port -->
		<!-- BEGIN: photo_element_land -->
		<div id="photo_{PHOTO_ID}"
			 class="lazy album-item album-item-land-card-image album-item-card-image-{PHOTO_ID} mdl-card mdl-shadow--2dp zooming"
			 data-src="{PHOTO_IMAGE_URL}" style="background: center / cover;">
			<!-- END: photo_element_land -->
			<div class="mdl-card__title mdl-card--expand mdl-js-ripple-effect"></div>
			<div class="mdl-card__actions">
				<span class="album-item-card-image__title">{PHOTO_TITLE}</span>
			</div>
			<a href="{PHOTO_URL}" class="card_media_link"></a>
		</div>
		<div class="mdl-tooltip mdl-tooltip--large" for="photo_{PHOTO_ID}">
			{PHOTO_DATE}
			<!-- BEGIN: photo_description -->
			<br/><br/>
			<em>{PHOTO_DESCRIPTION}</em>
			<!-- END: photo_description -->
		</div>
		<!-- END: photo -->
		<!-- END: item -->
	</div>