<!-- BEGIN: main -->
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

		<meta name="theme-color" content="#29388e">

		<title>{TITLE} - We Think Adventure.Rocks</title>

		<!-- Rich preview -->
		<meta property="og:title" content="{RICH_PREVIEW_TITLE}" />
		<meta property="og:description" content="{RICH_PREVIEW_DESCRIPTION}" />
		<meta property="og:image" content="{RICH_PREVIEW_IMAGE}" />

		<!-- SEO -->
		<meta name="description" content="{RICH_PREVIEW_DESCRIPTION}" />
		<meta name="keywords" content="{SEO_KEYWORDS}" />
		<meta name="robots" content="{SEO_ROBOTS}" />
		<meta name="revisit-after" content="1 month" />
		<!-- BEGIN: seo_location --><meta name="geo.position" content="{SEO_LATITUDE}; {SEO_LONGITUDE}"><!-- END: seo_location -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- MDL -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-red.min.css" />
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

		<link rel="stylesheet" href="/css/base.css">

		<link rel="icon" type="image/png" href="/icon.png" />

		<!-- Add to homescreen for Chrome on Android -->
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="icon" sizes="192x192" href="images/android-desktop.png">

		<!-- Add to homescreen for Safari on iOS -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="#29388e">
		<meta name="apple-mobile-web-app-title" content="WeatherToClimb.Rocks">
		<link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

		<!-- Tile icon for Win8 (144x144 + tile color) -->
		<meta name="msapplication-TileImage" content="images/ms-touch-icon-144x144-precomposed.png">
		<meta name="msapplication-TileColor" content="#29388e">

		<!-- Google Analytics -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-87333451-2', 'auto');
		  ga('send', 'pageview');
		</script>
		
		<style>
			html {
				background: url({IMAGE}) no-repeat center center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
		</style>
		
		<!-- Page Specific Files -->
		<!-- BEGIN: css_file --><link rel="stylesheet" href="{CSS_FILE}" /><!-- END: css_file -->
		<!-- BEGIN: js_file --><script src="{JS_FILE}"></script><!-- END: js_file -->
	</head>

	<body>
		<!-- Always shows a header, even in smaller screens. -->
		<div class="adventure mdl-layout mdl-js-layout mdl-layout--fixed-header has-drawer is-upgraded">
			<header class="mdl-layout__header">
				<!-- BEGIN: nav_back -->
				<div class="mdl-layout__drawer-button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" onclick="location.href='{BACK_URL}'">
					<i class="material-icons">arrow_back</i>
				</div>
				<!-- END: nav_back -->
				<div class="mdl-layout__header-row">
					<!-- Title -->
					<span class="mdl-layout-title">Adventure.Rocks</span>
					<!-- Add spacer, to align navigation to the right -->
					<div class="mdl-layout-spacer"></div>
					<!-- Navigation. We hide it in small screens. -->
					<nav class="mdl-navigation">
						<!-- BEGIN: nav_action -->
						<a id="action_{ACTION_ID}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="{ACTION_URL}"><i class="material-icons">{ACTION_ICON}</i></a>
						<div class="mdl-tooltip mdl-tooltip--large" for="action_{ACTION_ID}">
							{ACTION_TOOLTIP}
						</div>
						<!-- END: nav_action -->
						<!-- BEGIN: authenticated -->
						<a id="action_signout" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="/admin/signout"><i class="material-icons">lock_open</i></a>
						<div class="mdl-tooltip mdl-tooltip--large" for="action_signout">
							Sign Out
						</div>
						<!-- END: authenticated -->
					</nav>
				</div>
			</header>
			<!-- BEGIN: nav_drawer -->
			<div class="mdl-layout__drawer">
				<span class="mdl-layout-title">Adventure.Rocks</span>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="/about"><i class="material-icons">info_outline</i> About</a>
					<a class="mdl-navigation__link" href="/apps"><i class="material-icons">smartphone</i> Apps</a>
					<hr />
					<a class="mdl-navigation__link" href="/highlights"><i class="material-icons">grade</i> Highlights</a>
					<a class="mdl-navigation__link" href="/videos"><i class="material-icons">local_movies</i> Videos</a>
					<a class="mdl-navigation__link" href="/"><i class="material-icons">camera_alt</i> Today's Photo</a>
					<hr />
					<a class="mdl-navigation__link" href="/admin"><i class="material-icons">fingerprint</i> Admin</a>
				</nav>
			</div>
			<!-- END: nav_drawer -->
			<!-- BEGIN: body -->
			<main class="adventure mdl-layout__content">
				<div class="page-content" id="body">
					{FILE {BODY_FILE}}
				</div>
			</main>
			<!-- END: body -->
		</div>
	</body>

</html>
<!-- END: main -->