<div class="mdl-grid center-items">

    <div class="mdl-card navigation-card mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">Admin</h4>
        </div>
        <ul class="mdl-list">
            <li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
						<a href="/admin/home">Admin Home</a>
					</span>
            </li>
        </ul>
    </div>

    <div class="mdl-card admin-card mdl-cell mdl-cell--6-col">
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">Edit Log</h4>
        </div>
        <div class="log-content">
            <form action="/editlog/{BLOG_ID}" method="post">

                <a href="/log/{BLOG_ID}" target="_blank">View Blog Post</a><br />
                <br />
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="is_published">
                    <input type="checkbox" id="is_published" name="is_published" class="mdl-switch__input" {IS_PUBLISHED} />
                    <span class="mdl-switch__label">Is Published</span>
                </label>
                <br /><br />

                <div>
                    <span>Blog Date</span><br />
                    <input type="date" id="blog_date" name="blog_date" value="{BLOG_DATE}" />
                    <input type="time" id="blog_time" name="blog_time" value="{BLOG_TIME}" />
                    PST
                </div>
                <br /><br />

                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="blog_title" name="blog_title" value="{BLOG_TITLE}" />
                    <label class="mdl-textfield__label" for="blog_title">Blog Title</label>
                </div>
                <br /><br />

                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="blog_hero_photo_id" name="blog_hero_photo_id" pattern="-?[0-9]*(\.[0-9]+)?" value="{BLOG_HERO_PHOTO_ID}" />
                    <label class="mdl-textfield__label" for="blog_hero_photo_id">Hero Photo ID</label>
                </div>
                <img src="{HERO_PHOTO_URL}" style="width: 100px;" />
                <br /><br />

                <textarea id="blog_content" name="blog_content">{BLOG_CONTENT}</textarea>

                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect"
                        style="float:right;" type="submit">
                    <i class="material-icons">add</i>
                </button>
            </form>
        </div>
    </div>

</div>