<div class="mdl-grid center-items">

    <div class="mdl-card navigation-card mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">Admin</h4>
        </div>
        <ul class="mdl-list">
            <li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
						<a href="/admin/home">Admin Home</a>
					</span>
            </li>
        </ul>
    </div>

    <div class="mdl-card admin-card mdl-cell mdl-cell--6-col">
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">Select a log to edit</h4>
        </div>
        <div class="adventure-content">
            <a href="/editlogs?create=true">Create New Blog Entry</a><br /><br />
            <!-- BEGIN: log_entry -->
            <a href="/editlog/{BLOG_ID}">{BLOG_TITLE}</a><br />
            <!-- END: log_entry -->
        </div>
    </div>

</div>