        <a href="/admin/home">Admin Home</a><br />
        
		<!-- BEGIN: photo_frame -->
        <h2>Photo Frame: {PHOTO_FRAME_ID}</h2>
		<strong>Owner:</strong> {PHOTO_FRAME_OWNER}<br />
		<strong>Created:</strong> {PHOTO_FRAME_CREATED}<br />
		<br />
        <strong>Last Check-in:</strong> {CHECK_IN_DATE}<br />
		<strong>Current Version:</strong> {CURRENT_VERSION}<br />

        <br />
		<strong>Error Logs:</strong><br />
		<!-- BEGIN: error_log -->
		<a href="/errorlog/{ERROR_LOG_ID}"><strong>Error Log</strong> {ERROR_LOG_DATE}</a><br />
		<!-- END: error_log -->

        <!-- END: photo_frame -->