			<div class="mdl-grid center-items">

				<div class="mdl-card mdl-cell mdl-cell--8-col mdl-shadow--2dp">
					<div class="mdl-card__media" style="background: url('{PHOTO_THUMBNAIL}') center / cover;">
						<div class="mdl-card__title mdl-color-text--grey-50">
							<h3 class="title">{BLOG_TITLE}</h3>
						</div>
                        <em>{BLOG_DATE}</em>
					</div>
					<div class="meta mdl-color-text--grey-600">
						<div>
							{BLOG_CONTENT}
						</div>
					</div>
				</div>
			</div>