<style>
	.adventure.mdl-layout .mdl-layout__content {
		padding-top: 0px;
	}
	
	#panorama {
		height: calc(100vh - 65px);
		width: 100%;
	}
	
	#info_dialog {
		z-index: 1199;
		background-color: blue;
		width: 500px;
		height: 500px;
		display: inline;
	}
</style>

<div id="panorama"></div>

<script>
	$.getJSON( "https://s3-us-west-2.amazonaws.com/wethinkadventurerocks/data/360photos/{FILE_ID}/config.json", function( data ) {
		data.autoLoad = true;
		data.autoRotate = 1;
		data.pitch = {PITCH};
		data.yaw = {YAW};
		pannellum.viewer('panorama', data);
	} );
	
	$('#action_info_button').click(function() {
		swal({
			title: "{PHOTO_TITLE}",
			text: "{PHOTO_DESCRIPTION}",
			imageUrl: "{PHOTO_LOCATION_URL}",
			imageSize: "256x96",
			showConfirmButton: false,
			allowOutsideClick: true,
			html: true
		});
	} );
</script>