
<section class="cd-timeline js-cd-timeline">
    <div class="container container--lg cd-timeline__container">

        <!-- BEGIN: timeline_entry -->
        <div class="cd-timeline__block">
            <div class="cd-timeline__img cd-timeline__img--picture">
                <img src="external/vertical-timeline/cd-icon-picture.svg" alt="Picture">
            </div> <!-- cd-timeline__img -->

            <div class="cd-timeline__content text-component">
                <h2>Title of section 1</h2>
                <p class="text--subtle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>

                <div class="flex flex--space-between flex--center-y">
                    <span class="cd-timeline__date">Jan 14</span>
                    <a href="#0" class="btn btn--subtle">Read more</a>
                </div>
            </div> <!-- cd-timeline__content -->
        </div> <!-- cd-timeline__block -->
        <!-- END: timeline_entry -->

        <div class="cd-timeline__block">
            <!-- ... -->
        </div> <!-- cd-timeline__block -->
    </div>
</section> <!-- cd-timeline -->