<section class="cd-timeline js-cd-timeline">
    <div class="container container--lg cd-timeline__container">

        <!-- BEGIN: timeline_entry -->
        <div class="cd-timeline__block">
            <div class="cd-timeline__img cd-timeline__img--picture">
                <img src="external/vertical-timeline/cd-icon-picture.svg" alt="Picture">
            </div>

            <div class="cd-timeline__content text-component">

                <h2>{ENTRY_TITLE}</h2>
                <!-- BEGIN: photo_container_full -->
                <div class="entry-image-container-full">
                <!-- END: photo_container_full -->
                <!-- BEGIN: photo_container_gallery -->
                <div class="entry-image-container-gallery">
                <!-- END: photo_container_gallery -->
                    <!-- BEGIN: photo -->
                    <img class="cd-timeline__block__photo entry-image-half" src="{ENTRY_PHOTO}"/>
                    <!-- END: photo -->
                </div>
                <br />
                <p class="text--subtle">{ENTRY_DESCRIPTION}</p>

                <div class="flex flex--space-between flex--center-y">
                    <span class="cd-timeline__date">{ENTRY_DATE}</span>
                </div>
            </div>
        </div>
        <!-- END: timeline_entry -->
    </div>
</section> <!-- cd-timeline -->