<!-- BEGIN: main -->
<html>
    <head>
        <title>We Think Adventure.Rocks</title>
        <style>
            html
            { 
              background: url({IMAGE}) no-repeat center center fixed; 
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
            }
            
            h1
            {
                font:normal 60pt Impact;
                color:#888;
                text-shadow: 0px 2px 3px #111;
                opacity: 0.5;
            }
        </style>
    </head>
    <body>
        <h1>
            Adventure.Rocks
        </h1>
    </body>
</html>
<!-- END: main -->