			<style>
				<!-- BEGIN: video_style -->
				.adventure .video_{VIDEO_ID} .mdl-card__media {
					background-image: url('{VIDEO_THUMBNAIL}');
				}
				<!-- END: video_style -->
			</style>

			<div class="mdl-grid center-items">

				<div class="mdl-card videos-pic mdl-cell mdl-cell--8-col mdl-shadow--2dp">
					<div class="mdl-card__media">
						<div class="mdl-card__title mdl-color-text--grey-50">
							<h3 class="title">Our Videos</h3>
						</div>
					</div>
					<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
						<img src="/images/videos_icon.png" class="comment__avatar">
							<div>
								<span>Watch videos from our various Adventures</span>
							</div>
						</div>
						<div class="mdl-card__actions mdl-card--border">
							<a target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://www.youtube.com/watch?v=__umnwwU1-M&index=3&list=PLW6j4j9UcGjqIw80l4pNnCja8mziF9xmw">
								View PlayList on Youtube
							</a>
						</div>
					</div>

					<!-- BEGIN: video -->
					<div class="mdl-card video_{VIDEO_ID} mdl-cell mdl-cell--5-col mdl-shadow--2dp">
						<div class="mdl-card__media zooming">
							<div class="mdl-card__title mdl-color-text--grey-50">
								<h3 class="title">{VIDEO_TITLE}</h3>
								<a id="video_{VIDEO_ID}" class="card_media_link popup-youtube" href="{VIDEO_URL}" onClick="history.pushState({},'{VIDEO_TITLE}','http://wethinkadventure.rocks/videos?play={VIDEO_ID}')"></a>
							</div>
						</div>
						<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
							<img src="images/videos_youtube.png" class="comment__avatar">
								<div>
									<span>{VIDEO_DATE}</span><br />
									<span>{VIDEO_DESCRIPTION}</span><br />
								</div>
							</div>
						
							<div class="mdl-card__actions mdl-card--border">
								<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect btn" data-clipboard-text="http://wethinkadventure.rocks/videos?play={VIDEO_ID}" onClick="javascript:showCopyConfirm();">
									<i class="material-icons">content_copy</i> Copy Link to Share
								</a>
							</div>
						</div>
						<!-- END: video -->
						<div id="video_player">
							
						</div>
					</div>